@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
 
  text-decoration: none;  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(11, 0, 160);
  --secondary-color:rgb(233, 159, 0);
 
}
body,
input {
  font-family: 'poppin', sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.section-1,
section.section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.logo1 {
  height: 65px;
}

div.block-1 {
  display: flex;
  align-items: center;
}

div.block-1 div:first-child {
  margin-right: 40px;
}

div.phone-apointment {
  display: flex;
  align-items: center;
}

div.social-btn ul li i {
  font-size: 25px;
  margin: 10px 7px;
  color: dimgray;
}

div.social-btn ul li i:hover {
  color: rgb(0, 38, 163);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: default;
}

li {
  display: inline-block;
}

div.phone-number {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 20px;
}

div.phone-number i {
  transform: rotateY(180deg);
}

div.appointment button {
  border: none;
  background-color: var(--secondary-color);
  font-size: 18px;
  color: white;
  padding: 10px 12px;
  border-radius: 30px;
  outline: none;
  margin: 0px 15px;
  transition: box-shadow 0.5s;
}

div.appointment button:hover {
  box-shadow: 0px 0px 10pxvar(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  height: 50px;
}

nav ul {
  text-align: center;
  transition: 0.3s ease-out;
}

nav li {
  text-align: center;
}

nav ul li a {
  font-size: 18px;
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  margin: 0px 25px;
  font-weight: 500;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
  transition-property: border-bottom, background-color;
  transition-duration: 0.4s;
}

nav ul li a:hover {
  background-color: var(--secondary-color);
  border-bottom: 4px solid rgb(255, 255, 255);
}

#toggle {
  display: none;
}

#toggle-btn {
  padding: 0px 2px;
  display: none;
  text-align: left;
  margin-left: 10px;

}

#toggle-btn i {
  
  font-size: 35px;
  color: white;
  margin: 0px;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li a {
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  background-color: #f7dda763;
  border-bottom: 4px solid white;
}

/* Dropdown Button */
.dropbtn {
  font-size: 20px;
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  margin: 2px 0px;
  width: auto;
  font-weight: 500;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 140px;
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fffdfb2d;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



.scroll-effect-section2 {
  margin-top: -8px;
  position: relative;
  padding: 90px;
  text-align: center;
  overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.scroll-effect-section2::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place it behind the content */
background-image: url('/assets/images/backgroud-image2.jpg');
background-size: cover;
background-attachment: fixed;
filter: blur(px); /* Adjust the pixel value for the desired level of blur */
}
.doctors-title {
    font-weight: 700;
    color: rgb(24, 24, 24);
    font-size: 48px;
    margin-bottom: 20px;
    z-index: 2; /* Ensures it's above the background */
    text-align: center;
    position: relative; /* Ensure positioning for pseudo-element */
}

.doctors-title::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the distance of the line from the text */
    left: 50%;
    transform: translateX(-50%);
    width: 70px; /* Adjust the width of the line */
    height: 4px; /* Adjust the thickness of the line */
    background-color: var(--secondary-color);
}


.doctors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/****************************************************   Footer   *************************************/
/* The footer is fixed to the bottom of the page */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
}
.footer-distributed {
  background-color:var(--secondary-color);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 0px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
  margin-right: 10px;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: var(--secondary-color);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-distributed .footer-center i {
  color: #2c2c2c;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
  margin-left: 10px;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: var(--primary-color);
}

.footer-links a:hover {
  color: var(--primary-color);
}

@media (max-width: 880px) {
  .box-container {
      display: flex;
      flex-direction: column; /* Display boxes in a column */
      align-items: left; /* Center items horizontally */
      margin-top: 20px;
  }
  
  .box {
      width: calc(100% - 30px); /* Adjust width for smaller screens */
      margin-right: 0;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       

/**************************************************   Back to the top   *************************************/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10%;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

#back-to-top-btn:hover {
  background-color:var(--secondary-color);
}


/**************************************************   Responsiveness Screen   *************************************/
@media only screen and (max-width: 1050px) {

 

   
  td {
      font-size: 13px;
      color: white;
      border-bottom: 1px solid rgb(255, 255, 255);
      padding: 15px 10px;
    }
  section.section-1 {
      font-size: 14px;
      padding-top: 10px;

  }
  .tablink {
      font-size: 14px;
  }
  .tabs-container {
      width: 90%;
  }
  .form-row {
      flex-direction: column;
      margin-bottom: 10px;
  }

  .form-col {
      flex: 0 0 100%;
      margin-bottom: 15px;
  }
  div.block-1 {
      flex-direction: column;
  }

  div.block-1 div:first-child {
      margin-right: 0px;
  }

  div.social-btn ul li i {
      font-size: 14px;
  }

  section.section-2 {
      flex-direction: column;
      padding-bottom: 12px;
  }

  .logo1 {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 50px;
  }

  div.phone-number {
      font-size: 14px;
  }

  div.appointment button {
      font-size: 14px;
  }

  #toggle-btn {
      display: block;
  }

  nav>ul {
      display: none;
  }

  #toggle:checked+ul {
      display: block;

  }

  nav ul li {
      display: block;
      text-align: center;
  }


  nav ul li a {
      font-size: 16px;
  }

  nav {
      height: auto;
  }

  .dropbtn {
      margin: 0 auto;
      /* Center the button */
      width: 100%;
      /* Make the button 100% width */
  }

  .dropdown-content {
      text-align: center;
      /* Center content */
      width: 100%;
      /* Take up 100% width */
      left: 0;
      /* Position at left edge */
  }



  .user-btn {
      text-align: right;
      font-size: 20px;
      display: block;
      color: rgb(255, 255, 255);
      padding: 8px 20px;
      font-weight: 500;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 2px;
      position: relative;
  }

  .user-dropdown {
      display: none;
      text-align: center;
      background-color: var(--primary-color);
         }

  .user-dropdown a {
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }


  /* Position dropdown below icon */
  .user-dropdown {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1000;
      top: 201px; /* Adjust this value to position it below the icon */
      right: 0; /* Adjust this value to align it horizontally */
      
  }
  .user-dropdown {
      display: none;
      /* Your existing styles */
  }
  
  .user-dropdown.show {
      display: block;
  }

  /* Prevent overlap with other elements */
  .user-dropdown {
      z-index: 1000;
  }

  /* Remove extra space */
  .user-btn {
      margin-bottom: 0;
  }

  /* Adjust width if needed */
  .user-dropdown {
      min-width: 150px;
  }

  /* Add slight gap between icon and menu */
  .user-dropdown {
      margin-top: 5px;
  }


  #toggle-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .menu-icon {
      margin-right: auto;
  }

  .user-btn {
      margin-left: auto;
  }

}



















/****************************************************   Form  *************************************/



.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo-log {
  display: flex;
  align-items: center;
}

.logo-log img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo-log h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.toggle-log {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle-log:hover {
  color: #8371fd;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

label {
  position: absolute;
  font-size: 0.95rem;
  color: #bbb;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: var(--secondary-color);
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: var(--primary-color);
}

.text {
  color: #bbb;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #8371fd;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-image: url(/assets/images/image1.png);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}


@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
