* {
   box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;  
}
  
:root {
    --primary-color: rgb(11, 0, 160);
    --secondary-color:rgb(233, 159, 0);
   
  }

  
body {
    font-family: 'poppin', sans-serif;
    height: ;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
}
h3{
    font-weight: 800;
}
section.section-1,
section.section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.logo1 {
    height: 65px;
}

div.block-1 {
    display: flex;
    align-items: center;
}

div.block-1 div:first-child {
    margin-right: 40px;
}

div.phone-apointment {
    display: flex;
    align-items: center;
}

div.social-btn ul li i {
    font-size: 25px;
    margin: 10px 7px;
    color: dimgray;
}

div.social-btn ul li i:hover {
    color: rgb(0, 38, 163);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: default;
}

li {
    display: inline-block;
}

div.phone-number {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 20px;
}

div.phone-number i {
    transform: rotateY(180deg);
}

div.appointment button {
    border: none;
    background-color: var(--secondary-color);
    font-size: 18px;
    color: white;
    padding: 10px 12px;
    border-radius: 30px;
    outline: none;
    margin: 0px 15px;
    transition: box-shadow 0.5s;
}

div.appointment button:hover {
    box-shadow: 0px 0px 10pxvar(--secondary-color);
}

nav {
    background-color: var(--primary-color);
    height: 50px;
}

nav ul {
    text-align: center;
    transition: 0.3s ease-out;
}

nav li {
    text-align: center;
}

nav ul li a {
    font-size: 18px;
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    margin: 0px 25px;
    font-weight: 500;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    transition-property: border-bottom, background-color;
    transition-duration: 0.4s;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    border-bottom: 4px solid rgb(255, 255, 255);
}

#toggle {
    display: none;
}

#toggle-btn {
    padding: 0px 2px;
    display: none;
    text-align: left;
    margin-left: 10px;

}

#toggle-btn i {
    
    font-size: 35px;
    color: white;
    margin: 0px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li a {
    transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
    background-color: #f7dda763;
    border-bottom: 4px solid white;
}

/* Dropdown Button */
.dropbtn {
    font-size: 20px;
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    margin: 2px 0px;
    width: auto;
    font-weight: 500;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 140px;
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fffdfb2d;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



/* Styles for the tabs container */
.tabs-container {
    position: relative;
    width: 80%; /* Adjust the width as needed */
    margin: -80px auto 0; /* Centering the container and adjusting overlap */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Styles for the tabs container with border and box shadow */
.tabs {
    display: flex;
    justify-content: center;
}
.tablink {
    font-size: 15px;
    color: var(--primary-color);
    padding: 20px 30px;
    border: none; /* Remove the border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border-bottom: 1px solid #cccccc1c; /* Add a thin border line */
}

.tablink:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last tab */
}

.tablink.active {
    border-bottom: 2px solid var(--primary-color); 
  }
  .tablink:hover:not(.active) {
    border-bottom-color: var(--primary-color);
  }
  .tabcontent:target + .tablink {
    border-bottom: 2px solidvar(--primary-color);
  }
  .tablink {
    border-bottom-color:var(--primary-color); 
  }
  
  .tablink:hover {
    border-bottom-color: #cccccc1c;
  }

/* Remove border for active tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border: none; /* Remove border for tab content */
}

/* Display active tab content */
.tabcontent.active {
    display: block;
    border: 1px solid #ccc; /* Add border around active tab content */
}

/* Styles for the map container */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 0;
    padding-top: 56.25%; /* Aspect ratio (height:width) for the map */
    overflow: hidden;
}

/* Styles for the embedded iframe */
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Additional styles for the form */
.appointment-form {
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}



.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-col {
    flex: 0 0 30%; /* Adjust the width as needed */
}

.appointment-form h3 {
    margin-bottom: 10px;
}

.appointment-form input[type="text"],
.appointment-form input[type="date"],
.appointment-form input[type="tel"],
.appointment-form input[type="email"],
.appointment-form input[type="time"],
.appointment-form input[type="password"],
.appointment-form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #fcfcfc;
    border-radius: 1px;
    font-size: 16px;
}
.appointment-form textarea {
    border: 1px #666666;
}
.appointment-form input[type="submit"] {
    width: 70%;
}
/* Submit Button Styles */
.form-col input[type="submit"] {
    
    background-color: var(--secondary-color); /* Default button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
}

/* Button Hover Effect */
.form-col input[type="submit"]:hover {
    background-color: var(--primary-color); /* Hover color */
    transform: scale(1.05); /* Scale up the button on hover */
}

/* Styles for the text area */
.appointment-form textarea {
    width: 100%; /* Adjust the width as needed */
    height: 70px; /* Fixed height for the text area */
    resize: none; /* Prevent resizing */

}


.appointment-form textarea::placeholder {
    color: #999; 
    border: 1px#ccc;
    font-size: 12px;
}


/* Style for the mission section */
.mission-section {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: left;
}

/* Style for the mission content */
.mission-content {
    width: 80%;
    margin: 0 auto;
}

/* Style for the mission title */
.mission-content h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Style for the mission statement */
.mission-content p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ccc;
}
.top-text{
    
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
}
/* Style for the container of the boxes */
.box-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

/* Style for each individual box */
.box {
    flex: 1;
    background-color: var(--secondary-color);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Style for the box titles */
.box h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for the box content */
.box p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

  
table {
    border-collapse: collapse;
  }

  
.table-time{
    text-align: left;
}
  td {
    font-size: 15px;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 15px 10px;
  }
 
  /* Add space to the second column */
  td:nth-child(2) {
    padding-left: 80px; /* Adjust the value as needed */
  }

/* Doctors Section Styles */
.scroll-effect-section {
  margin-top: -25px;
  position: relative;
  padding: 90px;
  text-align: center;
  overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.scroll-effect-section::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place it behind the content */
background-image: url('https://vernon758.github.io/dramandadmithwebsite/assets/images/backgroud-image.jpg');
background-size: cover;
background-attachment: fixed;
filter: blur(1px); /* Adjust the pixel value for the desired level of blur */
}

.scroll-effect-section3 {
  margin-top: -25px;
  position: relative;
  padding: 40px;
  text-align: center;
  overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.scroll-effect-section3::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place it behind the content */
background-image: url('https://vernon758.github.io/dramandadmithwebsite/assets/images/backgroud-image3.jpg');
background-size: cover;
background-attachment: fixed;
filter: blur(9px); /* Adjust the pixel value for the desired level of blur */

}

.scroll-effect-section2 {
  margin-top: -8px;
  position: relative;
  padding: 70px;
  text-align: center;
  overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.scroll-effect-section2::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place it behind the content */
background-image: url('https://vernon758.github.io/dramandadmithwebsite/assets/images/backgroud-image2.jpg');
background-size: cover;
background-attachment: fixed;
filter: blur(px); /* Adjust the pixel value for the desired level of blur */
}


.scroll-effect-section4 {
  margin-top: -25px;
  position: relative;
  padding: 40px;
  text-align: center;
  overflow: hidden; /* Hide the overflow from the pseudo-element */
}

.scroll-effect-section4::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place it behind the content */
background-image: url('/assets/images/backgroud-image3.jpg');
background-size: cover;
background-attachment: fixed;
filter: blur(9px); /* Adjust the pixel value for the desired level of blur */

}

.doctors-title {
    font-weight: 700;
    color: rgb(24, 24, 24);
    font-size: 48px;
    margin-bottom: 20px;
    z-index: 2; /* Ensures it's above the background */
    text-align: center;
    position: relative; /* Ensure positioning for pseudo-element */
}

.doctors-title::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the distance of the line from the text */
    left: 50%;
    transform: translateX(-50%);
    width: 70px; /* Adjust the width of the line */
    height: 4px; /* Adjust the thickness of the line */
    background-color: var(--secondary-color);
}


.doctors-title1 {
  font-weight: 700;
  color: rgb(250, 250, 250);
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 2; /* Ensures it's above the background */
  text-align: center;
  position: relative; /* Ensure positioning for pseudo-element */
}

.doctors-title1::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the distance of the line from the text */
  left: 50%;
  transform: translateX(-50%);
  width: 70px; /* Adjust the width of the line */
  height: 4px; /* Adjust the thickness of the line */
  background-color: var(--secondary-color);
}

.doctors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.doctorsub3 {
  margin-top: 20px;
  color: white;
}

.doctors-title3 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-top: 20px;
  z-index: 2; /* Ensures it's above the background */
  text-align: center;
  position: relative; /* Ensure positioning for pseudo-element */
}

.doctors-title3::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the distance of the line from the text */
  left: 50%;
  transform: translateX(-50%);
  width: 70px; /* Adjust the width of the line */
  height: 4px; /* Adjust the thickness of the line */
  background-color: var(--secondary-color);
}


.doctorsub4 {
  margin-top: 20px;
  color: white;
}

.doctors-title4 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-top: 20px;
  z-index: 2; /* Ensures it's above the background */
  text-align: center;
  position: relative; /* Ensure positioning for pseudo-element */
}

.doctors-title4::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the distance of the line from the text */
  left: 50%;
  transform: translateX(-50%);
  width: 70px; /* Adjust the width of the line */
  height: 4px; /* Adjust the thickness of the line */
  background-color: var(--secondary-color);
}
card section.services {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {

  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #1d009c 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: var(--primary-color);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section.services {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section.services {
    padding: 1em 3em;
  }
  .column {
    margin: 0 auto;
    flex: 0 0 33.33%;
    max-width: 33%;
  }
}

.serviesbtn1{
  margin: auto;
}

.serviesbtn{
  margin-top: 4%;
  margin-bottom: 5%;
  font-size: 20px;
  color: white;
  padding: 20px;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
}


.serviesbtn:hover{
  background-color: var(--primary-color);
  transform: scale(1.05);
  transition: 0.4s;

}


/****************************************************   Footer   *************************************/
/* The footer is fixed to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}
.footer-distributed {
    background-color:var(--secondary-color);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    margin-right: 10px;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: var(--secondary-color);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-distributed .footer-center i {
    color: #2c2c2c;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    margin-left: 10px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: var(--primary-color);
}

.footer-links a:hover {
    color: var(--primary-color);
}

@media (max-width: 880px) {
    .box-container {
        display: flex;
        flex-direction: column; /* Display boxes in a column */
        align-items: left; /* Center items horizontally */
        margin-top: 20px;
    }
    
    .box {
        width: calc(100% - 30px); /* Adjust width for smaller screens */
        margin-right: 0;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

/**************************************************   Back to the top   *************************************/
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 10%;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    z-index: 99;
  }
  
  #back-to-top-btn:hover {
    background-color:var(--secondary-color);
  }


  /*************************************************  Splash screen ******************************************/
/* Styles for the splash screen */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Background color for the splash screen */
  z-index: 9999; /* Ensure the splash screen appears above other elements */
  animation: slideToRight 3s forwards; /* Apply the slide-to-right animation */
}

@keyframes slideToRight {
  from {
    transform: translateX(0); /* Start at initial position */
  }
  to {
    transform: translateX(100%); /* Slide to the right */
    visibility: hidden; /* Hide after animation */
  }
}

.splash-screen img {
  max-width: 50%; /* Adjust the logo's width as needed */
  max-height: 50%; /* Adjust the logo's height as needed */
}

/******************************************************  About  *******************************************************/ 

/* Base styles for the about profile */
.about-profile {
  width: 100%;
  max-width: 800px;
  display: flex;
  text-align: center; /* Center the inner elements horizontally */
  flex-direction: column; 
  margin: 0 auto; 
}

.profile-details p{
  padding-top: 10%;
  font-size: 15px;
  color: #080808;
  line-height: 1.6;
}

.aboutme {
  padding-top: 0%;
  position: relative;
  text-align: center; /* Center-align the text */
}

.aboutme::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 3px;
  background-color: var(--secondary-color);
}


.profile-image,
.profile-details {
  width: 100%; /* Ensure elements take full width */
  text-align: center; /* Center-align elements */
  padding: 20px;
}

.profile-image img {
  width: 250px; /* Adjust image size for mobile view */
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}


.profile-image img:hover{
  transform: scale(1.05);
}

.contactme{
  margin-top: 10%;
  padding: 15px;
  width: 250px;
  background-color: var(--secondary-color);
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

.contactme:hover{
  box-shadow: 2px 2px 2px 2px #2c2c2c3f;
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px; /* Adjust icon size */
  color: #333; /* Adjust icon color */
}

/* For tablet and larger screens */
@media screen and (min-width: 768px) {
  .about-profile {
    flex-direction: row; /* Switch back to row layout */
  }

  .profile-image,
  .profile-details {
    width: 50%; /* Divide space equally for image and details */
    text-align: left; /* Align text to the left */
    padding: 20px;
  }

  .profile-details {
    padding-left: 40px; /* Add spacing between image and details */
  }

  .profile-image img {
    width: 100%; /* Adjust image size */
  }
}

/* Styles for social links */
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links i {
  font-size: 24px;
  color: #333;
}

/**************************************************   Responsiveness Screen   *************************************/
@media only screen and (max-width: 1050px) {

  .aboutme {
    padding-top: %;
    position: relative;
    text-align: center; /* Center-align the text */
  }
  
  .aboutme::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 3px;
    background-color: var(--secondary-color);
  }
   
    td {
        font-size: 13px;
        color: white;
        border-bottom: 1px solid rgb(255, 255, 255);
        padding: 15px 10px;
      }
    section.section-1 {
        font-size: 14px;
        padding-top: 10px;

    }
    .tablink {
        font-size: 14px;
    }
    .tabs-container {
        width: 90%;
    }
    .form-row {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .form-col {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    div.block-1 {
        flex-direction: column;
    }

    div.block-1 div:first-child {
        margin-right: 0px;
    }

    div.social-btn ul li i {
        font-size: 14px;
    }

    section.section-2 {
        flex-direction: column;
        padding-bottom: 12px;
    }

    .logo1 {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 50px;
    }

    div.phone-number {
        font-size: 14px;
    }

    div.appointment button {
        font-size: 14px;
    }

    #toggle-btn {
        display: block;
    }

    nav>ul {
        display: none;
    }

    #toggle:checked+ul {
        display: block;

    }

    nav ul li {
        display: block;
        text-align: center;
    }


    nav ul li a {
        font-size: 16px;
    }

    nav {
        height: auto;
    }

    .dropbtn {
        margin: 0 auto;
        /* Center the button */
        width: 100%;
        /* Make the button 100% width */
    }

    .dropdown-content {
        text-align: center;
        /* Center content */
        width: 100%;
        /* Take up 100% width */
        left: 0;
        /* Position at left edge */
    }



    .user-btn {
        text-align: right;
        font-size: 20px;
        display: block;
        color: rgb(255, 255, 255);
        padding: 8px 20px;
        font-weight: 500;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-radius: 2px;
        position: relative;
    }

    .user-dropdown {
        display: none;
        text-align: center;
        background-color: var(--primary-color);
           }

    .user-dropdown a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    /* Position dropdown below icon */
    .user-dropdown {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1000;
        top: 201px; /* Adjust this value to position it below the icon */
        right: 0; /* Adjust this value to align it horizontally */
        
    }
    .user-dropdown {
        display: none;
        /* Your existing styles */
    }
    
    .user-dropdown.show {
        display: block;
    }

    /* Prevent overlap with other elements */
    .user-dropdown {
        z-index: 1000;
    }

    /* Remove extra space */
    .user-btn {
        margin-bottom: 0;
    }

    /* Adjust width if needed */
    .user-dropdown {
        min-width: 150px;
    }

    /* Add slight gap between icon and menu */
    .user-dropdown {
        margin-top: 5px;
    }


    #toggle-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-icon {
        margin-right: auto;
    }

    .user-btn {
        margin-left: auto;
    }

    
.profile-details p{
  font-size: 10px;
  padding-bottom: 2%;
  color: #080808;
  line-height: 1.9;
 }

}


